<h1>Hello</h1>
<form class="form" action="answer">
  <input type="text" class="form-control" placeholder="Ask a question" name="question">
  <button type="submit" class="btn btn-primary"> Ask! </button>
</form>
